[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/RajashriPPatil
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/RajashriPPatil
	label-Verified = -1..+1 group user/RajashriPPatil
	push = group user/RajashriPPatil
	read = group user/RajashriPPatil
	rebase = group user/RajashriPPatil
	removeReviewer = group user/RajashriPPatil
	submit = group user/RajashriPPatil
[access "refs/heads/*"]
	create = group user/RajashriPPatil
	push = +force group user/RajashriPPatil
	pushMerge = group user/RajashriPPatil
	read = group user/RajashriPPatil
[access "refs/tags/*"]
	push = group user/RajashriPPatil
	push = +force group user/RajashriPPatil
